table
{
	width: 100%;
	height: 100%;
	display: block;
}

data-view,corr-view
{
	width: 100%;
	height: 100%;
	display: block;
}

.title
{
	text-align: center;
	font-size: larger;
	width: 100%;
	border: none;
}