graph-view
{
	width: 100%;
}

inlog_view
{
	width: 100%;
}

.progressor
{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	padding-top: 50vh;
	background-color: black;
	opacity: 0.9;
	z-index: 10000;
}

.progressor > img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 10001;
}